.header {
  display: flex;
  padding: 10px 5px;
  background-color: #ffb74d;
  color: #FFF;  
  width: 100%
}

.headerp {
  text-align: center;
  flex: 1;
  margin: 0;
  padding-right: 1.4em;

  font-family: "Krub";
  font-size: 2.5rem;
}

.headerul {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
