.CalendarDay__selected_span {
  background: #ffb74d; 
  color: white; 
  border: 2px solid #ffb74d; 
}

.CalendarDay__selected {
  background: #ffb74d; ;
  color: white;
}


.CalendarDay__selected:hover {
  background: #ffb74d; ;
  color: #ffb74d; ;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #ffb74d; ;
}

.DateRangePickerInput__withBorder {
  border: none;
}

.DateInput_input DateInput_input_1 DateInput_input__focused DateInput_input__focused_2 {
  text-decoration-color: #ffb74d;
  color: #ffb74d;
}